.banner {
    height: 48vh;
    position: relative;
    object-fit: cover;
    background-size: cover;
    background-position: center;
    background-image: url('../../assets/greece.jpg');
}

.banner-overlay {
    position: absolute;
    top: 35vh;
    background-color: var(--teal);
    color: white;
    text-align: center;
    padding: 4vh;
    border-radius: 2%;
    left: 50%;
    transform: translateX(-50%);
}

@media(max-width: 1000px) {
    .banner-overlay {
        width: 80%;
    }
}
