.button-white-outline {
    border: white solid 1px;
    border-radius: 2%;
    color: white;
    padding: 8px 16px;
    transition: background-color 1s ease;
}

.button-white-outline:hover {
    color: var(--light-blue);
    background-color: white;
    cursor: pointer;
}

.button-white-outline:visited {
    color: color: var(--light-blue);
    text-decoration: none;
}

.button-white-outline:active {
    color: color: var(--light-blue);
    text-decoration: none;
}