.landing-banner {
    background-image: url('../../assets/underwater.jpg');
    height: 100vh;
    width: 100vw;
    position: relative;
    object-fit: cover;
    background-size: cover;
    background-position: center;
}

.landing-half {
    position: absolute;
    height: 100vh;
    width: 50vw;
    background-color: var(--light-blue);
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.landing-half-content {
    color: white;
}

.landing-text {
    margin-bottom: 8vh;
}

@media(max-width: 560px) {
    .landing-half {
        width: 80vw;
    } 
}
