.sidebar {
    height: 100vh;
    position: -webkit-sticky;
    position: sticky;
    width: 100%;
    background-color: var(--light-blue);
    z-index: 4;
    top: 0;
    padding-top: 16vh;
    opacity: 1;
    transition: width 500ms ease-in-out;
}

.nav-link {
    padding: 2vh 2vw;
    transition: background-color 1s ease;
}

.nav-link:hover {
    background-color: var(--teal-overlay);
    color: white;
}

.nav-link.active {
    background-color: var(--teal-overlay);
    color: var(--grey);
}

#nav-button {
    display: none;
}

@media(max-width: 560px) {
    .sidebar {
        opacity: 0;
        width: 0;
        position: fixed;
        transition: all 500ms ease-in-out;
    }

    .sidebar.active {
        width: 80%;
        opacity: 0.95;
        z-index: 4;
    }

    #nav-button {
        display: inline;
        position: fixed;
        z-index: 5;
        top: 8px;
        right: 8px;
        cursor: pointer;
        transition: right 500ms ease-in-out;
        background-color: var(--light-grey-background);
        padding: 2%;
        padding-top: 4%;
        border-radius: 8%;
    }
    
    #top, #middle, #bottom {
        width: 35px;
        height: 2px;
        margin-bottom: 8px;
        background-color: var(--dark-overlay);
        transition: transform 500ms ease-in-out, opacity 500ms, background-color 250ms;
    }
    
    #nav-button.active {
        right: 20%;
        background-color: transparent;
    }
    
    #nav-button.active .nav-slim-bar {
        background-color: white;
    }
    
    #nav-button.active #top {
        transform: translateY(10px) rotate(-135deg);
    }
    
    #nav-button.active #middle {
        opacity: 0;
        transform: rotate(135deg);
    }
    
    #nav-button.active #bottom {
        transform: translateY(-10px) rotate(-45deg);
    }

    .nav-link {
        padding: 4vh 8vw;
    }
}