.why-block {
    margin-top: 32vh;
}

.why-icons {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 4vw;
    text-align: center;
}

.icon {
    height: 100px;
    width: 100px;
    padding-bottom: 2vh;
}

.why-icon-block {
    padding-top: 6vh;
    padding-bottom: 4vh;
}

@media(max-width: 560px) {
    .why-icons {
        grid-template-columns: 1fr;
    }   

    .why-block {
        margin-top: 29vh;
    }
}